@CHARSET "UTF-8";

.twperfectdatepicker .hide {
    display: none!important;
}
.twperfectdatepicker {
    position: absolute;
    cursor: default;
    z-index: 99999;
    background: #fff;
}
.twperfectdatepicker .main-container {
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px #ddd;
    border-radius: 4px;
}
.twperfectdatepicker .main-part .row.con {
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    font-size: 0;
}
.twperfectdatepicker .main-part .row.con .lf {
    display: inline-block;
    overflow: hidden;
    padding: 12px 35px 8px 17px;
    vertical-align: middle;
}
.twperfectdatepicker .main-part .row.con .lf.left {
    border-right: 1px solid rgba(200, 200, 200, 0.3);
    height: 100%;
}
.twperfectdatepicker .main-part .row.con .lf.start:active,
.twperfectdatepicker .main-part .row.con .lf.end:active,
.twperfectdatepicker .main-part .row.con .lf.date:active,
.twperfectdatepicker .main-part .row.con .lf.time:active {
    background-color: #eff2fc;
}
.twperfectdatepicker .main-part .row.con .lf.right {
    height: 100%;
    margin-left: -1px;
    padding-right: 75px;
}
.twperfectdatepicker .main-part .row.con .lf .cell {
    margin-bottom: 4px;
}
.twperfectdatepicker .main-part .row.con .lf .title.cell span.word {
    font-size: 14px;
    color: #aaa;
}
.twperfectdatepicker .main-part .row.con .lf .showtime.cell span.word {
    color: #6683DF;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.twperfectdatepicker .main-part .row.con .lf .tips.cell span.word {
    color: #757575;
    font-size: 14px;
}
/*.twperfectdatepicker .row.con.notice {
    padding: 15px 20px;
    font-size: 0;
}
.twperfectdatepicker .row.con.notice .cell {
    display: inline-block;
    vertical-align: middle;
}
.twperfectdatepicker .row.con.notice .icon-cell {
    margin-right: 20px;
}
.twperfectdatepicker .row.con.notice .iconfont {
    font-size: 28px;
    color: #aaa;
}
.twperfectdatepicker .row.con.notice .word-cell {
    position: relative;
    top: -2px;
}
.twperfectdatepicker .row.con.notice .word-cell span.word {
    font-size: 16px;
    color: #aaa;
}

.twperfectdatepicker .row.con.repeat {
    padding: 15px 20px;
    font-size: 0;
}
.twperfectdatepicker .row.con.repeat .cell {
    display: inline-block;
    vertical-align: middle;
}
.twperfectdatepicker .row.con.repeat .icon-cell {
    margin-right: 20px;
}
.twperfectdatepicker .row.con.repeat .iconfont {
    font-size: 28px;
    color: #aaa;
}
.twperfectdatepicker .row.con.repeat .word-cell {
    position: relative;
    top: -2px;
}
.twperfectdatepicker .row.con.repeat .word-cell span.word {
    font-size: 16px;
    color: #aaa;
}*/
.twperfectdatepicker .footer {
    padding: 20px 10px;
    text-align: right;
}
.twperfectdatepicker .footer a {
    text-decoration: none;
    color: #6683DF;
    padding: 10px;
}
.twperfectdatepicker .footer a:active {
    background-color: #eee;
}
.twperfectdatepicker .footer a.confirm,
.twperfectdatepicker .footer a.cancel {
    margin-left: 10px;
}


/*timepicker-part*/
.twperfectdatepicker .timepicker-part {
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.twperfectdatepicker .timepicker-part .row .time-unit {
    display: inline-block;
    padding: 10px 12px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}
.twperfectdatepicker .timepicker-part .row .time-unit.lt-starthms {
    color: #bfbfbf;
}
/*.timepicker-part .row .time-unit:hover {
    background-color: #fafafa;
    color: #ffffff!important;
}*/
.twperfectdatepicker .timepicker-part .row .time-unit:active {
    background-color: #6683DF;
    color: #ffffff!important;
}
/*simple-datepicker-part*/
.twperfectdatepicker .simple-datepicker-part {
    width: 300px;
    height: 150px;
    overflow: hidden;
}
/*datepicker-part*/
.twperfectdatepicker .datepicker-part {
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.twperfectdatepicker .datepicker-part .footer a {
    font-size: 12px;
}
.twperfectdatepicker .datepicker-part .header {
    background-color: #eee;
}
.twperfectdatepicker .datepicker-part .header .col {
    display: inline-block;
    padding: 8px 18px 8px 19px;
    font-size: 12px;
    color: #aaa;
    position: relative;
}
.twperfectdatepicker .datepicker-part .body .row .date-col {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    line-height: 20px;
    padding: 2px;
    margin: 4px;
    text-align: center;
    color: #555;
    border-radius: 30px;
    font-size: 18px;
}
.twperfectdatepicker .datepicker-part .body .row .date-col .date-con {
    font-size: 14px;
    height: 17px;
    text-align: center;
}
/*.datepicker-part .body .row .date-col.date:hover {*/
    /*background-color: #8598DF;*/
    /*color: #fff;*/
/*}*/
.twperfectdatepicker .datepicker-part .body .row .date-col.date:active {
    background: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date:active .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date:active .date-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.today:active .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.today:active .date-con span.word{
    color: #fff;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.today .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.today .date-con span.word {
    color: #6683DF;
    font-weight: bold;
}







.twperfectdatepicker .datepicker-part .body .row .date-col.date.chosen {
    background: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.chosen .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.chosen .date-con span.word {
    color: #fff;
}

.twperfectdatepicker .datepicker-part .body .row .date-col.date.startdate {
    background-color: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.startdate .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.startdate .date-con span.word {
    color: #fff;
}

.twperfectdatepicker .datepicker-part .body .row .date-col.date.enddate {
    background-color: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.enddate .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.enddate .date-con span.word {
    color: #fff;
}

.twperfectdatepicker .datepicker-part .body .row .date-col.date.s2e {
    background-color: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.s2e .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.s2e .date-con span.word {
    color: #fff;
}

.twperfectdatepicker .datepicker-part .body .row .date-col.date.mark {
    background-color: #6683DF;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.date.mark .lunar-con span.word,
.twperfectdatepicker .datepicker-part .body .row .date-col.date.mark .date-con span.word {
    color: #fff;
}










.twperfectdatepicker .lunar-con {
    font-size: 12px;
    color: #bbb;
    text-align: center;
    position: relative;
    font-weight: normal;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.90);
    left: 1.25px;
    top: -2px;
}

.twperfectdatepicker .date-msg-head {
    padding: 7px 19px;
}

.twperfectdatepicker .month-con {
    position: relative;
}
.twperfectdatepicker .show-month-con {
    text-align: left;
}
.twperfectdatepicker .show-month-con span {
    font-size: 14px;
    color: #aaa;
}
.twperfectdatepicker .next-pre-con {
    position: absolute;
    right: -9px;
    top: 0;
}
.twperfectdatepicker .next-pre-con .icon-con {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
}
.twperfectdatepicker .next-pre-con .icon-con i.iconfont {
    color: #aaa;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    display: block;
}
.twperfectdatepicker .next-pre-con .icon-con i.iconfont:hover {
    color: #6683DF;
}
.twperfectdatepicker .next-pre-con .icon-con:HOVER {
    background: #6683DF;
}
.twperfectdatepicker .next-pre-con .icon-con:HOVER i.iconfont {
    color: #fff;
}
.twperfectdatepicker .show-month-con .cell {
    display: inline-block;
}
.twperfectdatepicker .show-month-con .select-el {
    cursor: pointer;
}
.twperfectdatepicker .show-month-con .select-el:hover span {
    color: #6683DF;
    font-weight: normal;
}




/*notice-advance*/
.twperfectdatepicker .notice-advance-part {
    width: 160px;
    box-shadow: 0 0 10px #aaaaaa;
    padding: 10px 0;
}
.twperfectdatepicker .notice-advance-part .row .con {
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
}
.twperfectdatepicker .notice-advance-part .row.custom .con {
    padding: 6px 8px 6px 10px;
}
.twperfectdatepicker .notice-advance-part .row .con.word-con {
    margin-left: 3px;
}
.twperfectdatepicker .notice-advance-part .row:active {
    background-color: #eee;
}
.twperfectdatepicker .notice-advance-part .row {
    padding: 0 10px;
}
.twperfectdatepicker .notice-advance-part .row.custom {
    padding: 5px 10px;
}
.twperfectdatepicker .notice-advance-part .checkbox-con i.iconfont {
    font-size: 30px;
    color: #999;
}
.twperfectdatepicker .notice-advance-part .word-con span.word {
    font-weight: bold;
    color: #555;
    font-size: 15px;
    position: relative;
    top: -1px;
}
.twperfectdatepicker .notice-advance-part .row.custom .checkbox-con i.iconfont {
    font-size: 20px;
}



.twperfectdatepicker .notice-advance-custom-part {
    box-shadow: 0 0 10px #aaaaaa;
}
.twperfectdatepicker .notice-advance-custom-part .header {
    padding: 19px 22px;
}
.twperfectdatepicker .notice-advance-custom-part .header .word-con span.word {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}
.twperfectdatepicker .select-con {
    padding: 8px 22px;
    overflow: hidden;
}
.twperfectdatepicker .select-con .select-cell {
    width: 170px;
    border-bottom: 2px solid #999;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 35px;
}
.twperfectdatepicker .select-con .select-cell:hover {
    background-color: #eeeeee;
}
.twperfectdatepicker .select-con .select-cell.time {
    margin-right: 15px;
}
.twperfectdatepicker .select-con .select-cell .icon-con {
    position: absolute;
    right: -2px;
    top: 8px;
}
.twperfectdatepicker .select-con .select-cell div span.word {
    line-height: 36px;
    margin-left: 1px;
}


.twperfectdatepicker-btn-con {
    cursor: pointer;
    color: #777;
}
.twperfectdatepicker-btn-con:HOVER {
    font-weight: bold;
}
.twperfectdatepicker-btn-con .con {
    display: inline-block;
    vertical-align: middle;
}
.twperfectdatepicker-btn-con .con.hide {
    display: none;
}
.twperfectdatepicker-btn-con .con i.iconfont {
    font-size: 20px;
    display: block;
    height: 20px;
    line-height: 17px;
}
.twperfectdatepicker-btn-con .con.icon-con {
    margin-right: 5px;
}



.twperfectdatepicker .main-container .extra-btn-con .row {
    padding: 15px;
    color: #757575;
}
.twperfectdatepicker .main-container .extra-btn-con .row .cell {
    display: inline-block;
    vertical-align: middle;
}
.twperfectdatepicker .main-container .extra-btn-con .row .cell i.iconfont {
    display: block;
    width: 21px;
    height: 23px;
    font-size: 21px;
    line-height: 20px;
    margin-right: 10px;
}
/*extra-container*/
.twperfectdatepicker .extra-container .simple-datepicker-part,
.twperfectdatepicker .extra-container .datetime-con .datepicker-part,
.twperfectdatepicker .extra-container .datetime-con .timepicker-part,
.twperfectdatepicker .extra-container .datetime-con .datetime-result-con {
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px #ddd;
    border-radius: 4px;
}
.twperfectdatepicker .extra-container .timezone-part .timezone-item {
    padding: 8px 12px;
}
.twperfectdatepicker .extra-container .timezone-part .timezone-item:hover {
    color: #333333;
    background-color: #eeeeee;
}

.twperfectdatepicker .extra-container .timezone-part {
    color: #757575;
    font-size: 14px;
    height: 280px;
    overflow: auto;
    cursor: pointer;
}
.twperfectdatepicker .extra-btn-con {
    font-size: 14px;
    color: #757575;
}

.twperfectdatepicker .extra-container .notice-advance-part .notice-advance-item {
    padding: 8px 22px;
}
.twperfectdatepicker .extra-container .notice-advance-part .notice-advance-item:hover {
    color: #333333;
    background-color: #eeeeee;
}



.twperfectdatepicker .extra-container .datetime-result-con {
    position: relative;
    margin-bottom: 10px;
}
.twperfectdatepicker .extra-container .datetime-result-con .con {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #aaa;
}
.twperfectdatepicker .extra-container .datetime-result-con .se-con {
    padding: 10px;
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}
.twperfectdatepicker .extra-container .datetime-result-con .se-con.endtime-con {
    margin-top: -10px;
}
.twperfectdatepicker .extra-container .datetime-result-con .con.title-con {
    margin-right: 8px;
}
.twperfectdatepicker .extra-container .datetime-result-con .con.title-con span.word {
    color: #aaa;
}
.twperfectdatepicker .extra-container .datetime-result-con .con {
    margin-right: 6px;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}
.twperfectdatepicker .extra-container .datetime-result-con .con:HOVER {
    color: #6683df;
}
.twperfectdatepicker .extra-container .datetime-result-con .con.active:HOVER {
    color: #6683df;
}
.twperfectdatepicker .extra-container .datetime-result-con .con.active {
    font-weight: bold;
    color: #555;
}
.twperfectdatepicker .extra-container .datetime-result-con .con.active span.word {
    border-bottom: 1px solid #000;
}
.twperfectdatepicker .extra-container .datetime-result-con .btn-con {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.twperfectdatepicker .extra-container .datetime-result-con .btn-con:active {
    background: #eeeeee;
}
.twperfectdatepicker .extra-container .datetime-result-con .btn-con a {
    text-decoration: none;
    font-size: 14px;
    color: #6879fd;
}
.twperfectdatepicker .datepicker-part .body .row .date-col.unselectable {
    color: #bbb;
}